In [15]:
import pandas as pd
data = pd.read_html('https://www.officialcharts.com/chart-news/the-best-selling-albums-of-all-time-on-the-official-uk-chart__15551/', header=0)
df=data[0]

AD 1. Zamień nagłówki kolumn na polskie odpowiedniki

In [16]:
df.rename(columns = {'TITLE' : 'TYTUŁ', 'ARTIST' : 'ARTYSTA', 'YEAR' : 'ROK', 'HIGH POSN' : 'MAX POZ'}, inplace = True)
df.head()

   POS                                 TYTUŁ  ARTYSTA   ROK  MAX POZ
0    1                         GREATEST HITS    QUEEN  1981        1
1    2                  GOLD - GREATEST HITS     ABBA  1992        1
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967        1
3    4                                    21    ADELE  2011        1
4    5        WHAT'S THE STORY MORNING GLORY    OASIS  1995        1

AD 2. Ilu pojedynczych artystów znajduje się na liście?

In [17]:
df['ARTYSTA'].nunique()

47

AD 3. Które zespoły pojawiają się najczęściej na liście?

In [18]:
df['ARTYSTA'].value_counts().head()

COLDPLAY         3
TAKE THAT        3
FLEETWOOD MAC    2
ABBA             2
DIDO             2
Name: ARTYSTA, dtype: int64

AD 4. Zmień nagłówki kolumn, tak aby każdy z nich rozpoczynał się od wielkiej litery, a pozostałe były wprowadzone małymi literami.

In [19]:
df.rename(str.capitalize, axis='columns', inplace=True)
df.head()

   Pos                                 Tytuł  Artysta   Rok  Max poz
0    1                         GREATEST HITS    QUEEN  1981        1
1    2                  GOLD - GREATEST HITS     ABBA  1992        1
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967        1
3    4                                    21    ADELE  2011        1
4    5        WHAT'S THE STORY MORNING GLORY    OASIS  1995        1

AD 5. Wyrzuć z tabeli kolumnę ‘Max Poz’

In [20]:
df.drop('Max poz',axis=1,inplace=True)
df.head()

   Pos                                 Tytuł  Artysta   Rok
0    1                         GREATEST HITS    QUEEN  1981
1    2                  GOLD - GREATEST HITS     ABBA  1992
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967
3    4                                    21    ADELE  2011
4    5        WHAT'S THE STORY MORNING GLORY    OASIS  1995

AD 6. W którym roku wyszło najwięcej albumów znajdujących się na liście?

In [21]:
df['Rok'].value_counts().head()

2000    4
1987    4
2006    3
1977    3
1998    3
Name: Rok, dtype: int64

AD 7. Ile albumów wydanych między 1960 a 1990 rokiem włącznie znajduje się na liście?

In [22]:
df[(df['Rok']>=1960) & (df['Rok']<=1990)].count()

Pos        22
Tytuł      22
Artysta    22
Rok        22
dtype: int64

AD 8. W którym roku wydany został najmłodszy album na liście?

In [23]:
df.sort_values(by='Rok', ascending=False).head()

    Pos       Tytuł        Artysta   Rok
26   27          25          ADELE  2015
48   49           X     ED SHEERAN  2014
3     4          21          ADELE  2011
56   57    PROGRESS      TAKE THAT  2010
23   24  CRAZY LOVE  MICHAEL BUBLE  2009

AD 9. Przygotuj listę najwcześniej wydanych albumów każdego artysty, który znalazł się na liście.

In [24]:
df.sort_values('Rok').groupby('Artysta')[['Tytuł', 'Rok']].first()

                                                           Tytuł   Rok
Artysta
ABBA                                               GREATEST HITS  1975
ADELE                                                         21  2011
ALANIS MORISSETTE                             JAGGED LITTLE PILL  1995
AMY WINEHOUSE                                      BACK TO BLACK  2006
BEATLES                     SGT PEPPER'S LONELY HEARTS CLUB BAND  1967
BOB MARLEY & THE WAILERS                                  LEGEND  1984
COLDPLAY                                              PARACHUTES  2000
CORRS                                            TALK ON CORNERS  1997
DAVID GRAY                                          WHITE LADDER  1998
DIDO                                                    NO ANGEL  2000
DIRE STRAITS                                    BROTHERS IN ARMS  1985
ED SHEERAN                                                     X  2014
EMINEM                                   THE MARSHALL MATHERS LP  2000
FLEETWOOD MAC                                            RUMOURS  1977
GEORGE MICHAEL                  LADIES & GENTLEMEN - THE BEST OF  1998
JAMES BLUNT                                       BACK TO BEDLAM  2004
JEFF WAYNE                                 THE WAR OF THE WORLDS  1978
KEANE                                            HOPES AND FEARS  2004
KINGS OF LEON                                  ONLY BY THE NIGHT  2008
LADY GAGA                                               THE FAME  2008
LEONA LEWIS                                               SPIRIT  2007
MADONNA                                THE IMMACULATE COLLECTION  1990
MEAT LOAF                                        BAT OUT OF HELL  1977
MICHAEL BUBLE                                         CRAZY LOVE  2009
MICHAEL JACKSON                                         THRILLER  1982
MIKE OLDFIELD                                      TUBULAR BELLS  1973
NORAH JONES                                    COME AWAY WITH ME  2002
OASIS                             WHAT'S THE STORY MORNING GLORY  1995
ORIGINAL CAST RECORDING                       THE SOUND OF MUSIC  1965
ORIGINAL SOUNDTRACK                                       GREASE  1977
PAUL SIMON                                             GRACELAND  1986
PHIL COLLINS                                       BUT SERIOUSLY  1989
PINK FLOYD                             THE DARK SIDE OF THE MOON  1973
QUEEN                                              GREATEST HITS  1981
REM                                     AUTOMATIC FOR THE PEOPLE  1992
ROBBIE WILLIAMS                          I'VE BEEN EXPECTING YOU  1998
SCISSOR SISTERS                                  SCISSOR SISTERS  2004
SHANIA TWAIN                                        COME ON OVER  1997
SIMON & GARFUNKEL                     BRIDGE OVER TROUBLED WATER  1970
SIMPLY RED                                                 STARS  1991
SNOW PATROL                                            EYES OPEN  2006
SPICE GIRLS                                                SPICE  1996
TAKE THAT                 NEVER FORGET - THE ULTIMATE COLLECTION  2005
TRACY CHAPMAN                                      TRACY CHAPMAN  1988
TRAVIS                                               THE MAN WHO  1999
U2                                               THE JOSHUA TREE  1987
VERVE                                                URBAN HYMNS  1997

AD 10. Listę zapisz do pliku csv

In [25]:
df.to_csv('album.csv', index=False)